snscrape
wordcloud
pyperclip
clipboard 
openai
pandas
streamlit
nltk
textblob
spacy
gensim
plotly
pyldavis
matplotlib
transformers
torchvision
torch
streamlit-chat
streamlit-extras
ibm_db==3.1.0
ibm_db_sa==0.3.7
